* {
    font-family: verdana, arial, sans-serif;
}

.main {
    margin: auto;
    width: 92%;
    height: 98vh;
    background-color: paleturquoise;
}

.main h1 {
    text-align: center;
}

.main p {
    text-align: center;
}

.main img {
    text-align: center;
    margin: auto;
}

body {
    background-color: lightseagreen;
}